.react-datepicker {
    font-family: inherit !important;
    border: 1px solid #e5e7eb !important;
    border-radius: 0.75rem !important;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1) !important;
}

.react-datepicker__header {
    background-color: #100F0A !important;
    border-radius: 0.75rem 0.75rem 0 0 !important;
    padding-top: 0.8rem !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__navigation-icon::before {
    color: white !important;
}

.react-datepicker__year-dropdown {
    background-color: white !important;
    border-radius: 0.5rem !important;
    border: 1px solid #e5e7eb !important;
}

.react-datepicker__year-option {
    color: #100F0A !important;
    padding: 0.5rem !important;
}

.react-datepicker__year-option:hover {
    background-color: #f3f4f6 !important;
}

.react-datepicker__day--selected {
    background-color: #100F0A !important;
}


.react-datepicker__year-read-view--selected-year {
    color: white !important;
}